<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: head(首页)"></head>
<body>
    <div id="wrapper">
		<nav th:replace="fragment/navbar :: navbar"></nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div th:replace="fragment/page_navbar :: pagenavbar"></div>
            <div th:replace="fragment/page_header :: pagehead(系统设置,角色管理,角色一览)"></div>
            <!-- start -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                	<!-- 
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                        <form id="">
                            <div class="ibox-title">
                                <h5><i class="fa fa-bookmark b-g-c"></i>&nbsp;&nbsp;高级检索</h5>
                                <div class="ibox-tools">
                                    <a class="fullscreen-link" >
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                    	<div class="col-sm-2">
                                            <label>账号：</label>
                                            <input type="text" id="account" name="account" value="" placeholder="" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label>姓名：</label>
                                            <input type="text" id="name" name="name" value="" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <button type="button" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
                            </div>
                        </form>   
                        </div>
                        
                    </div> -->

                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-bookmark b-g-c"></i>&nbsp;&nbsp;角色一览</h5>
                                <div class="ibox-tools">
                                    <a class="fullscreen-link" >
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive" >
		                            <table id="businessTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		                                <thead>
		                                    <tr>
		                                        <th style="width: 10%;">角色</th>
		                                        <th style="width: 10%;">权限</th>
		                                        <th style="width: 10%;">备注</th>
		                                        <th style="width: 10%;">操作</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
		                                	<tr>
		                                		<td title="account">account</td>
		                                		<td title="name">name</td>
		                                		<td title="password">12345678</td>
		                                		<td></td>
		                                	</tr>
		                                </tbody>        
		                            </table>
		                        </div>
                            </div>
                            <div class="ibox-footer">
                                <!-- <button type="button" class="btn btn-primary color-black" data-toggle="modal" data-target="#myModal7"><i class="fa fa-plus"></i>&nbsp;添加</button> -->
                            	<button type="button" class="btn btn-primary color-black" id="insertModal"><i class="fa fa-plus"></i>&nbsp;添加</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <!-- end -->
            <div th:replace="fragment/page_footer :: copy"></div>
        </div>
    </div>
    
    <!-- start modal -->
    <!-- 模态 -->
    <div class="modal fade" id="myModal7">
        <form id="birthdayForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <h4 class="modal-title">添加自定义项</h4>
                    </div>-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>账号：</label>
                                            <input type="text" id="modal_account" placeholder="" class="form-control" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label>密码：</label>
                                            <input type="password" id="modal_password" placeholder="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>姓名：</label>
                                            <input type="text" id="modal_name" placeholder="" class="form-control" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label>电话</label>
                                            <input type="text" id="modal_phonenumber" placeholder="" class="form-control" maxlength="30" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>邮箱：</label>
                                            <input type="text" id="modal_mail" placeholder="" class="form-control" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label>注册日期：</label>
                                            <div class="input-group date">
			                                    <input type="text" id="modal_registerdate" class="form-control" value="08/08/2017">
			                                   	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                                </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                    	<div class="col-sm-3">
                                            <label>邮箱：</label>
                                            <select class="form-control" name="" id="">
										    	<option value="yes">C1</option>
										    	<option value="no">C2</option>
										    </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <label>备注:</label>
                                            <textarea placeholder="请输入备注" class="form-control" rows="1"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-offset-8 col-sm-4">
                                    <a class="btn btn-primary" id="insert" data-dismiss="modal">确定</a>
                                    <a class="btn btn-white" data-dismiss="modal">关闭</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end modal -->

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script src="js/plugins/dataTables/datatables.min.js"></script>

<!-- Date range picker -->
<script src="js/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>

<script src="js/plugins/scrollTop/scrolltopcontrol.js"></script>

<script>
    $(document).ready(function(){
    	
    	var token = $("meta[name='_csrf']").attr("content");
    	var header = $("meta[name='_csrf_header']").attr("content");
    	$(document).ajaxSend(function(e, xhr, options) {
    		xhr.setRequestHeader(header, token);
    	});
    	
    	var insertflag = false;
    	
		var clearModal = function () {
			$('#modal_account').val("");
			$('#modal_name').val("");
			$('#modal_password').val("");
        }
        
        var table = $('#businessTable').DataTable({
            sDom: "<'row'<'col-md-6 col-sm-6'p><'col-md-6 col-sm-6'f>r>t",
            pageLength: 5,
            bSort: false,
            bFilter : false,
            bAutoWidth: false,
            oLanguage: {
                oPaginate: {
                    sNext: '下一页',
                    sPrevious: '上一页'
                },
                sEmptyTable: '表中没有可用的数据'
            },
            
            "processing": false,
            "serverSide": true,
            
            "ajax": {
            	"url": "/rest/users",
            	"data": function ( d ) {
                    //d.myKey = "myValue";
                    d.name = $('#name').val();
                    d.account = $('#account').val();
                    // etc
                }
            	
            },
                        
            columns: [
                      {"data": "account"},
                      {"data": "name"},
                      {"data": "password"}
                  	 ],
                  	 
            "columnDefs": [{
            	
            	"render": function(data, type, row) {
            		
            		var editCell = '<button data-click="edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil m-l-5 m-r-5"></i><span>编辑</span></button>'
            		var deleteCell = '<button data-click="delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o m-l-5 m-r-5"></i><span>删除</span></button>'
            		return editCell + " " +deleteCell;
            	},
            	"targets": 3
            }]
            
        });
        

        
        //查询
        $("#search").click(function() {
			
        	table.ajax.reload();
        	
        })
        
        //修改
        $('#businessTable tbody').on( 'click', 'button[data-click="edit"]', function () {
        	var data = table.row($(this).parents('tr')).data();
        	var account = data.account;
        	
        	$.ajax({
        		url: "/rest/user/" + account,
        		type: "GET",
                success: function(data){
                	
                	$('#modal_account').val(data.account);
        			$('#modal_name').val(data.name);
        			$('#modal_password').val(data.password);
        			
        			$('#myModal7').modal('show');
                	
                },
                error: function(){
                	alert("error")
                }
        	});
    	} );
        
        //删除
        $('#businessTable tbody').on( 'click', 'button[data-click="delete"]', function () {
        	var data = table.row($(this).parents('tr')).data();
        	var account = data.account;
        	
        	$.ajax({
        		url: "/rest/user/" + account,
        		type: "DELETE",
                success: function(){
                	alert("delete");
                	table.ajax.reload();
                	
                },
                error: function(){
                	alert("error")
                }
        	});
        	
    	} );
        

        //添加模态
        $("#insertModal").click(function() {
			
        	insertflag = true;
        	clearModal();
        	$('#myModal7').modal('show')
        	
        })
        
        //添加
        $("#insert").click(function() {
			
        	var urlType;
        	
        	if(insertflag){
        		urlType = "POST";
        	} else{
        		urlType = "PUT";
        	}
        	
        	$.ajax({
        		url: "/rest/user",
        		async: false,
        		type: urlType,
        		data: {
        			account: $('#modal_account').val(),
        			userName: $('#modal_name').val(),
        			passWord: $('#modal_password').val()
        		},
                success: function(){
                	
                	table.ajax.reload();
                	
                },
                error: function(){
                	alert("error");
                }
        	});
        	
        	insertflag = false;
        	
        })
        
        
        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        
    });

</script>

</body>
</html>
