<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: head(首页)"></head>
<body>
    <div id="wrapper">
		<nav th:replace="fragment/navbar :: navbar"></nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div th:replace="fragment/page_navbar :: pagenavbar"></div>
            <div th:replace="fragment/page_header :: pagehead(系统设置,角色管理,角色一览)"></div>
            <!-- start -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                	<!-- 
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                        <form id="">
                            <div class="ibox-title">
                                <h5><i class="fa fa-bookmark b-g-c"></i>&nbsp;&nbsp;高级检索</h5>
                                <div class="ibox-tools">
                                    <a class="fullscreen-link" >
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                    	<div class="col-sm-2">
                                            <label>账号：</label>
                                            <input type="text" id="account" name="account" value="" placeholder="" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label>姓名：</label>
                                            <input type="text" id="name" name="name" value="" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <button type="button" id="search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
                            </div>
                        </form>   
                        </div>
                        
                    </div> -->

                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-bookmark b-g-c"></i>&nbsp;&nbsp;添加角色</h5>
                                <div class="ibox-tools">
                                    <a class="fullscreen-link" >
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
								<div class="table-responsive">
									<div id="businessTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<table id="businessTable"
											class="table table-striped table-bordered table-hover dataTable no-footer"
											cellspacing="0" width="100%" role="grid">
											<thead>
												<tr>
													<th style="width: 5%">
														<div class="checkbox checkbox-primary">
															<input id="cb" type="checkbox"><label for="cb"></label>
														</div>
													</th>
													<th style="width: 15%">模块权限</th>
													<th>描述</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<div class="checkbox checkbox-primary">
															<input id="cb1" type="checkbox" value=""><label
																for="cb1"></label>
														</div>
													</td>
													<td title="2016">2016</td>
													<td title="2016-0001">2016-0001</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
                            <div class="ibox-footer">
                                <!-- <button type="button" class="btn btn-primary color-black" data-toggle="modal" data-target="#myModal7"><i class="fa fa-plus"></i>&nbsp;添加</button> -->
                            	<button type="button" class="btn btn-primary color-black" id="insertModal"><i class="fa fa-plus"></i>&nbsp;添加</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <!-- end -->
            <div th:replace="fragment/page_footer :: copy"></div>
        </div>
    </div>
    
<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script src="js/plugins/dataTables/datatables.min.js"></script>

<!-- Date range picker -->
<script src="js/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>

<script src="js/plugins/scrollTop/scrolltopcontrol.js"></script>

<script>
    $(document).ready(function(){
    	    	        
       
        

        
        //查询
/*         $("#search").click(function() {
			
        	table.ajax.reload();
        	
        }) */
        
        //修改
       /*  $('#businessTable tbody').on( 'click', 'button[data-click="edit"]', function () {
        	var data = table.row($(this).parents('tr')).data();
        	var account = data.account;
        	
        	$.ajax({
        		url: "/rest/user/" + account,
        		type: "GET",
                success: function(data){
                	
                	$('#modal_account').val(data.account);
        			$('#modal_name').val(data.name);
        			$('#modal_password').val(data.password);
        			
        			$('#myModal7').modal('show');
                	
                },
                error: function(){
                	alert("error")
                }
        	});
    	} );
        
        //删除
        $('#businessTable tbody').on( 'click', 'button[data-click="delete"]', function () {
        	var data = table.row($(this).parents('tr')).data();
        	var account = data.account;
        	
        	$.ajax({
        		url: "/rest/user/" + account,
        		type: "DELETE",
                success: function(){
                	alert("delete");
                	table.ajax.reload();
                	
                },
                error: function(){
                	alert("error")
                }
        	});
        	
    	} ); */
        

       
    });

</script>

</body>
</html>
